.user-info {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
    background: white;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.user-info h2, h3 {
    text-align: center;
    color: black;
}

.user-info a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid black;
    background: none;
    margin: 10px;
    padding: 0px 5px 0px 5px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info a:hover {
    background: #757F9A;
    color: #D7DDE8;
}